// #E70918 fire red
// #5b5a56 dark gray
// #92938B med gray
// #F4F4F2 white
// #1C1914 Black

$firered-color: #E70918;
$darkgray-color: #5B5A56;
$medgray-color: #92938B;
$white-color: #F4F4F2;
$black-color: #1C1914;




